# Ignorar los archivos de dependencias de Go
/vendor/

# Ignorar archivos de configuración de IDEs
.idea/
.vscode/

# Ignorar archivos de log
*.log

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar el directorio bin
bin/

# Ignorar el archivo .env
.env
