# Ignorar archivos generados por Go
*.exe
*.out
*.test
*.so

# Ignorar dependencias de Go
/vendor/

# Ignorar archivos de configuración de Go
*.swp
*.swo

# Ignorar archivos específicos de IDEs
.idea/
.vscode/

# Ignorar la carpeta de binarios compilados
bin/

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de log
*.log

# Ignorar el archivo .env si estás usando variables de entorno locales
.env
